<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="horse">
    <div class="horse-image" style="background: linear-gradient(to bottom,rgba(20,20,20, 0.8),rgba(76,76,76,0.2) 30%), url(<%= horse.photo %>) center / cover no-repeat;"></div>
    <div class="horse-content">
      <div class="horse-name"><%= horse.name %></div>
      <div class="horse-description">
        <%= horse.description %>
      </div>
      <div class="horse-booking">
        <%= link_to "View Details", "#", class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>
