<%= render 'shared/banner' %>

<!-- Cards for Horses -->


<div class="container">
  <div id="horses">
    <h2>Top Horses:</h2>
    <div class="row">
      <%= render @horses %>
    </div>
  </div>
</div>


